In [1]:
import numpy as np
import pandas as pd

## batches

In [9]:
data = pd.read_csv("data/batch/data.csv", index_col=0)

In [39]:
data.head()

,AAACGCTCAAGCCTGC.1,AAAGGATCAGAGTTCT.1,AAAGGTAAGTTCCAGT.1,AAAGTCCTCATCGGGC.1,AAATGGATCAAAGACA.1,AACAAAGTCACGATCA.1,AACAAAGTCTGCTTAT.1,AACACACTCATCGCAA.1,AACCAACTCGCATGAT.1,AACCCAAAGCGAGTCA.1,...,TTGCCTGTCTATTCGT.1,TTGGGATAGTGCAGGT.1,TTGTGTTCAGCAGTTT.1,TTGTTGTTCTACGGTA.1,TTGTTTGAGGCAGGGA.1,TTTACGTCAGCCGTCA.1,TTTACTGAGTCATGAA.1,TTTCGATGTTACCGTA.1,TTTGGAGAGGTAGATT.1,TTTGTTGTCACTACGA.1
HES4,0,1,2,3,0,0,0,0,0,0,...,0,3,0,0,2,1,16,4,0,1
ISG15,0,1,0,1,0,0,1,0,0,0,...,0,1,0,0,0,0,5,0,0,3
SDF4,3,1,2,2,1,2,0,0,0,0,...,2,0,1,2,0,0,0,1,0,0
AURKAIP1,1,3,2,5,1,4,2,3,1,1,...,1,0,4,1,0,1,1,1,3,1
MRPL20,3,3,0,1,2,1,1,0,0,2,...,2,2,4,2,3,2,0,2,3,2

In [5]:
labels = pd.read_csv("data/batch/metalabels.csv", index_col=0)
labels['cell_barcode'] = labels['cell_barcode'].str.replace('-','.')
labels['cell.type'] = np.where(labels['cell.type'].isin(['Monocyte']),
                               labels['cell.type'], 'Other')
labels.head()

,nCount_RNA,nFeature_RNA,cell_barcode,num_features,feature_call,num_umis,sample,run,infection,percent_mt,percent_ribo,percent_plat,percent_hb,log10GenesPerUMI,cell.type
orig.ident,,,,,,,,,,,,,,,
NN,20061,3907,AAACGCTCAAGCCTGC.1,1,CMO302,5308,D1MI,1,MI,2.419411,15.562891,0.024580,0.000000,0.810060,Monocyte
NN,20459,3783,AAAGGATCAGAGTTCT.1,1,CMO302,6278,D1MI,1,MI,1.526280,16.270216,0.053908,0.010108,0.803820,Monocyte
NN,20077,3961,AAAGGTAAGTTCCAGT.1,1,CMO302,2165,D1MI,1,MI,2.917895,36.019711,0.042682,0.011641,0.819730,Other
NN,21588,3733,AAAGTCCTCATCGGGC.1,1,CMO302,6056,D1MI,1,MI,2.383149,13.948339,0.027675,0.015375,0.795246,Monocyte
NN,12510,3032,AAATGGATCAAAGACA.1,1,CMO302,8757,D1MI,1,MI,1.403592,11.050315,0.027755,0.000000,0.794407,Monocyte

In [4]:
labels.to_csv("data/batch/labels.csv")